[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-binance = "*"
psycopg2 = "*"
tables = "*"
pandas = "*"
jsonschema= "*"
requests= "*"


[dev-packages]
mock = "*"

[requires]
python_version = "3.6"
